//.servers-chat {
//  width: 100%;
//  padding-top: 15px;
//  height: calc(100% - 15px);
//  display: flex;
//  flex-direction: column;
//  background-color: var(--background-color-light-gray);

//  &__messages-list{
//    flex: 1 1 auto;
//    overflow: auto;
//    display: flex;
//    flex-direction: column;
//    gap: 18px;
//    margin: 0 16px;
//  }
//  &__messages-item{}
//  &__input-container{
//    padding: 0 16px;
//  }
//  &__input{
//    width: calc(100% - 40px);
//    height: 40px;
//    margin-bottom: 20px;
//    background-color: var(--background-color-gray-hover);
//    border: none;
//    outline: none;
//    color: var(--text-primary);
//    border-radius: 12px;
//    padding: 0 20px;
//  }
//}

//.personal-message{
//  display: flex;
//  gap: 20px;

//  &:hover {
//    background-color: var(--background-color-gray-hover);
//  }
//  &__icon{
//    width: 40px;
//    height: 40px;
//    border-radius: 50%;
//  }
//  &__info{
//    margin-bottom: 5px;
//  }
//  &__name{
//    color: var(--text-secondary);
//  }
//  &__space {
//    color: transparent;
//  }
//  &__date{
//    font-size: 12px;
//    color: var(--text-gray);
//    opacity: 0.5;
//  }
//  &__message{
//    margin: 0;
//  }

//  &__replied-info {
//    cursor: pointer;
//  }

//  &_reply {
//    background-color: lightseagreen!important;
//  }
//}
