.settings-bar__list {
  width: 218px;
  padding: 60px 6px 60px 20px;
}

.settings-bar__list-item {
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 500;

  &_active {
    background-color: #313131;
  }
}
.settings {
  width: 100%;
  display: flex;
}
