@include media-lg-down {
  .sidebar {
    z-index: 80;
    left: 63px;
  }
  .main-container {
    padding-left: 0px;
    padding-right: 0px;
    animation: none;
  }
  @keyframes main-content-show-info-bar {
    0% {
      padding-right: 0;
    }
    100% {
      padding-righ: 0;
    }
  }

  @keyframes main-content-hide-info-bar {
    0% {
      padding-right: 0;
    }
    100% {
      padding-right: 0;
    }
  }
}
