@keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal, 
.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  opacity: 0;

  &.show {
    display: flex;
    animation: modal-show 300ms ease-out forwards;
  }

  &.hiding {
    animation: modal-hide 300ms ease-out forwards;
  }
}

.popup {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  background: none;
  backdrop-filter: initial;
  // top: initial;
  // left: initial;
  right: initial;
  bottom: initial;
}